.form {
    flex-grow: 0.75;
    width: 42.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.form__fieldset {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: none;
    margin: 0;
    padding: 0;
}

.form__field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1vw;
    border: none;
    margin: 0;
    padding: 0;
}

.form__input {
    color: inherit;
    width: 98.5%;
    height: auto;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: inherit;
}

.form__input::placeholder {
    color: #CCCCCC;
}

.form__input_error {
    color: red;
    border-bottom: 1px solid red;
}

.form__error-info {
    user-select: none;
    color: transparent;
    font-size: 0.8rem;
}


.form__error-info_visible {
    user-select: text;
    color: red;
}

.form__submit-button {
    width: 100%;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: black;
    border-radius: 2.5px;
    background-color: white;
}

.form__submit-button_disabled {
    color: rgb(202, 202, 202);
    border: 1.5px solid rgb(202, 202, 202);
    background-color: white;
}

.form__submit-button-text {
    color: inherit;
}