.header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #545454;
}

.header__logo-container {
    width: 20%;
    margin: 6vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.header__container {
    display: flex;
    align-self: center;
    height: min-content;
    gap: 1.5vw;
}

.header__button {
    margin: 0;
    padding: 0;
}

.header__text {
    color: white;
}

.header__text_gray {
    color: #A9A9A9;
}