.popup {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
}

.popup__container {
    width: 32.5vw;
    height: 55vh;
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
    margin-top: 20vh;
}

.popup__content {
    width: 82.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup__close-button {
    z-index: 2;
    width: 25px;
    height: auto;
    position: absolute;
    top: -25px;
    right: -25px;
}

.popup__close-button-img {
    z-index: 2;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.popup__title {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    color: black;
    font-family: "Inter-Black", sans-serif;
    font-size: 1.75rem;
}

.popup__form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.popup__fieldset {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: none;
    margin: 0;
    padding: 0;
}

.popup__field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1vw;
    border: none;
    margin: 0;
    padding: 0;
}

.popup__form-input {
    width: 98.5%;
    height: auto;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.popup__form-input-error {
    color: red;
    border-bottom: 1px solid red;
}

.popup__error-info {
    user-select: none;
    color: transparent;
    font-size: 0.8rem;
}


.popup__error-info_visible {
    user-select: text;
    color: red;
}

.popup__submit-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
    width: 100%;
    height: 25%;
    border-radius: 2.5px;
    background-color: black;
}

.popup__submit-button_disabled {
    color: rgb(202, 202, 202);
    border: 1.5px solid rgb(202, 202, 202);
    background-color: white;
}

.popup__submit-button-text {
    color: inherit;
}

.popup__confirm-container {
    width: 350px;
    min-width: 200px;
    max-width: 400px;
    height: 175px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
    margin-top: 25vh;
}

.popup__confirm-content {
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup__confirm-text {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Inter-Black", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    align-self: flex-start;
}

.popup__img-container {
    width: 350px;
    height: auto;
    display: flex;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.popup__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.popup__img-title {
    align-self: flex-start;
}