.tooltip {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    text-align: center;
}

.tooltip__icon {
    width: 45%;
    height: auto;
    object-fit: contain;
}

.tooltip__message {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Inter-Black", sans-serif;
    font-size: 1.5rem;
}
